{{#isCookieParam}}{{!
    }} // TODO REMOVE  @CookieValue(name="{{baseName}}"{{#defaultValue}}, defaultValue = "{{{.}}}"{{/defaultValue}})
                {{>dateTimeParam}} {{>dataType}} {{paramName}} = {{>paramValue}}
                {{#useBeanValidation}}{{>beanValidationQueryParams}}{{/useBeanValidation}}{{/isCookieParam}}