{{#isPrimitiveType}}{{!
    }}{{#isDecimal}}new BigDecimal({{/isDecimal}}{{!
    }}{{^isDecimal}}{{{dataType}}}.valueOf({{/isDecimal}}{{!
}}{{/isPrimitiveType}}{{!
}}{{#isPathParam}}request.path().param("{{baseName}}"){{/isPathParam}}{{!
}}{{#isQueryParam}}request.queryParams().toMap().get("{{baseName}}"){{/isQueryParam}}{{!
}}{{#isHeaderParam}}request.headers().value("{{baseName}}").orElse(null){{/isHeaderParam}}{{!
}}{{#isPrimitiveType}}){{/isPrimitiveType}};