{{#isPathParam}}//TODO remove    @PathVariable("{{baseName}}")
                {{> dateTimeParam }}{{> dataType }} {{paramName}} = {{> paramValue }}{{#useBeanValidation}}
                {{>beanValidationPathParams}}{{/useBeanValidation}}{{/isPathParam}}