{{#isPathParam}}
    {{#useBeanValidation}}{{>beanValidationPathParams}}{{/useBeanValidation}}
    @PathVariable("{{baseName}}")
{{>dateTimeParam}} {{>dataType}} {{paramName}} = {{>paramValue}}
{{/isPathParam}}